logicapp_workflow_telegram.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflow_name": {
            "type": "String"
        },
        "connection_name": {
            "type": "String"
        },
        "connection_id": {
            "type": "String"
        },
        "customApi_id": {
            "type": "String"
        },
        "chat_id": {
            "type": "String"
        },
        "location": {
            "type": "String"
        },
        "api_key": {
            "type": "securestring"
        }

    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflow_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "For_each_5": {
                            "foreach": "@body('Parse_JSON')?['SearchResults']?['tables']?[0]?['rows']",
                            "actions": {
                                "Send_Message": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['Telegram']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "[concat('/', parameters('api_key'), '/sendMessage')]",
                                        "queries": {
                                            "chat_id": "[parameters('chat_id')]",
                                            "text": "@{item()}"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "IncludeSearchResults": {
                                            "type": "boolean"
                                        },
                                        "SearchResults": {
                                            "properties": {
                                                "dataSources": {
                                                    "items": {
                                                        "properties": {
                                                            "region": {
                                                                "type": "string"
                                                            },
                                                            "resourceId": {
                                                                "type": "string"
                                                            },
                                                            "tables": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "resourceId",
                                                            "region",
                                                            "tables"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "statistics": {
                                                    "properties": {
                                                        "query": {
                                                            "properties": {
                                                                "datasetStatistics": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "tableRowCount": {
                                                                                "type": "integer"
                                                                            },
                                                                            "tableSize": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "tableRowCount",
                                                                            "tableSize"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "executionTime": {
                                                                    "type": "number"
                                                                },
                                                                "inputDatasetStatistics": {
                                                                    "properties": {
                                                                        "extents": {
                                                                            "properties": {
                                                                                "scanned": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "scannedMaxDatetime": {
                                                                                    "type": "string"
                                                                                },
                                                                                "scannedMinDatetime": {
                                                                                    "type": "string"
                                                                                },
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "rows": {
                                                                            "properties": {
                                                                                "scanned": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "total": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "rowstores": {
                                                                            "properties": {
                                                                                "scannedRows": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "scannedValuesSize": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "shards": {
                                                                            "properties": {
                                                                                "queriesGeneric": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "queriesSpecialized": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "resourceUsage": {
                                                                    "properties": {
                                                                        "cache": {
                                                                            "properties": {
                                                                                "disk": {
                                                                                    "properties": {
                                                                                        "hits": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "misses": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "total": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "memory": {
                                                                                    "properties": {
                                                                                        "hits": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "misses": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "total": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "shards": {
                                                                                    "properties": {
                                                                                        "bypassbytes": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "cold": {
                                                                                            "properties": {
                                                                                                "hitbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "missbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "retrievebytes": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "hot": {
                                                                                            "properties": {
                                                                                                "hitbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "missbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "retrievebytes": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "cpu": {
                                                                            "properties": {
                                                                                "kernel": {
                                                                                    "type": "string"
                                                                                },
                                                                                "totalCpu": {
                                                                                    "type": "string"
                                                                                },
                                                                                "user": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "memory": {
                                                                            "properties": {
                                                                                "peakPerNode": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "tables": {
                                                    "items": {
                                                        "properties": {
                                                            "columns": {
                                                                "items": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "rows": {
                                                                "items": {
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "columns",
                                                            "rows"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "alertname": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "Telegram": {
                                "connectionId": "[parameters('connection_id')]",
                                "connectionName": "[parameters('connection_name')]",
                                "id": "[parameters('customApi_id')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[parameters('connection_id')]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connection_name')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('connection_name')]",
                "customParameterValues": {},
                "api": {
                    "id": "[resourceId('Microsoft.Web/customApis', parameters('connection_name'))]"
                },
                "parameterValues": {
                    "api_key": "[parameters('api_key')]"
                }
            }
        }

    ],
    "outputs": {
      "logicAppUrl": {
        "type": "string",
        "value": "[listCallbackUrl(concat(resourceId('Microsoft.Logic/workflows', parameters('workflow_name')), '/triggers/manual'), '2016-06-01').value]"
      }
    }
}
